# https://developers.google.com/identity/sign-in/web/backend-auth
GOOGLE_JWKS_URI='https://www.googleapis.com/oauth2/v3/certs'

# Only needed in unit testing a valid token using a Google Service account
TEST_VALID_GOOGLE_TOKEN="Your.Google.IDToken"